#trainingProgress {
    width: 98%;
    background-color: #D8D9DB;
    margin: 2% 0% 4% 1%;
    box-shadow: 0px 0px 2px;
}
#progressBar {
    width: 1%;
    height: 30px;
    background-color: #00bc65;
    text-align: center;
    line-height: 30px;
    color: white;
}

{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 620px;
    margin: 0% 0% 0% 6%;
}

.mySlides {
    width: 90%;
    margin: 0% 0% 0% 5%;
    position: relative;
    z-index: 2;
}

.slideImg {
    margin: auto;
    display: block;
}

.nextPresentation{
    background: #0067c5;
    position: inherit;
    margin: -6% 0% 0.8% 90%;
    background-image: -webkit-linear-gradient(top, #0067c5, #2980b9);
    background-image: -moz-linear-gradient(top, #0067c5, #2980b9);
    background-image: -ms-linear-gradient(top, #0067c5, #2980b9);
    background-image: -o-linear-gradient(top, #0067c5, #2980b9);
    background-image: linear-gradient(to bottom, #0067c5, #2980b9);
    -webkit-border-radius: 19;
    -moz-border-radius: 19;
    border-radius: 19px;
    -webkit-box-shadow: 3px 4px 6px #666666;
    -moz-box-shadow: 3px 4px 6px #666666;
    box-shadow: 3px 4px 6px #666666;
    font-family: Georgia;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.nextPresentation:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

/* Next & previous buttons */
.prevSlide, .nextSlide {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    color: #0067C5;
    font-weight: bold;
    font-size: 55px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.nextSlide {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevSlide:hover, .nextSlide:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 28px;
    position: relative;
    padding-top: 2%;
    width: 10%;
    margin: 0% 1%;
    background-color: #D8D9DB;
    border-radius: 8%;
    border-style: solid;
    border-width: 1px;
    border-color: #1474cb;
    color: black;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #1474cb;
}

.slideshow-container::-webkit-scrollbar{
    width: 15px;
}

.slideshow-container::-webkit-scrollbar-thumb{
    background-color: #0099FF;
}

#homepage{
    overflow-y: auto;
    overflow-x: hidden;
    height: 620px;
    margin: -4% 0% 0% 1%;
}

#homepage::-webkit-scrollbar{
    width: 15px;
}

#homepage::-webkit-scrollbar-thumb{
    background-color: #0099FF;
}



/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.continueSpan{
   margin: 0% 15% 0% 15%;
}

.bandocatImage {
    margin: 3% -19% 5% -4%;
    width: 40%
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/*Account Stylesheet Adaptation from Collection Name */
.Account{
    border-radius: 2%;
    box-shadow: 0px 0px 4px;
}

.Account_Table{
    background-color: white;
    padding: 3%;
    border-radius: 6%;
    box-shadow: 0px 0px 2px;
    margin: auto;
    font-family: verdana;
    text-align: left;
    margin-top: 2%;
    margin-bottom: 4%;

}

.Account_Table .Account_Title{
    margin-top: 2px;
    margin-bottom: 12px;
    color: #008852;
}

.Account_Table .Collection_data{
    width: 50%;
}

#row{float:bottom;width:2000px;height:52px;background-color: #ccf5ff;}

.cell
{
    min-height: 52px;
}

.label
{
    float:left;
    width:initial;
    min-width: 120px;
    padding-top:2px;
    margin-right: 12%;
}
.labelradio
{
    float:left;
    width:150px;
    min-width: 195px;
}
mark {
    background-color: rgba(34, 105, 172, 0.32);
    color: black;
    border-radius: 4%;
    box-shadow: 0px 0px 2px;
    margin-left: -7%;
    padding: 2.05%;
}
span.labelradio:hover p{
    z-index: 10;
    display: table;
    text-align: initial;
    position: absolute;
    border: 1px solid #000000;
    background: #fefdff;
    font-size: 14px;
    font-style: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 4px 4px 4px #175131;
    -moz-box-shadow: 4px 4px 4px #154d2e;
    box-shadow: 4px 4px 4px #175433;
    width: 30%;
    padding: 10px 10px;
}
descriptionBox{
    color: #e62014;
}
#tableClass {
    width: 88%;
    box-shadow: 0px 0px 2px;
    margin: -14% 0% 1% 4%;
    border-radius: 5%;
}
#selClass {
    width: 50%;
    margin-left: 48%;
}
