#collections {
    margin: 1% 0% 0% 20%;
    text-align: center;
    border-style: solid;
    border-width: 1.1px;
    width: 60%;
    background-color: #00bc65;
}

.lblTraining {
    text-align: center;
    width: 15%;
    margin-left: 42%;
    margin-bottom: -1%;
    font-size: 1.65em;
    border-style: ridge;
    border-width: 2px;
    border-color: #0067C5;
    padding-top: 0%;
    background-color: #0067c5;
    color: #ffffff;
    text-shadow: 1px 1px #0067C5;
    left: -52%;
}

select {
    background-color: #00bc65;
    color: white;
    width: 24%;
    font-size: 1.2em;
    text-align: center;
    max-height: 480px;
    margin-top: 1%;
    border-style: ridge;
    border-width: 1.1px;
    border-color: #000000;
}

input[type=radio].rdcollection{
    height: 20px;
    width: 20px;
}

option{
    box-shadow: inset 0 0 2px 0 rgba(144, 21, 9, 0.2), inset 0 0 7px 0 rgba(0,0,0,.2), inset 0 0 3px 12px rgba(0,0,0,.08), 0px 5px 12px 0 rgba(0,0,0,.1);
    transition: padding .8s;
    text-shadow: 1px 1px black;
}

option:checked, option:hover {
    background: #0067c5;
    padding-top: 2%;
    padding-bottom: 2%;
}

input[type=submit] {
    margin-top: -18%;
    margin-left: 12%;
    font-size: 1.8em;
    position: absolute;
}

form{
    margin: auto;
    text-align: center;
}

.colLable {
    font-size: 1.38em;
    margin: 0% 2% 0% 0%;
    padding: 1% 0% 1% 0%;
    color: white;
    text-shadow: 1px 1px black;
}

input[type=radio].rdcollection{
    height: 20px;
    width: 20px;
}

option{
    box-shadow: inset 0 0 2px 0 rgba(144, 21, 9, 0.2), inset 0 0 7px 0 rgba(0,0,0,.2), inset 0 0 3px 12px rgba(0,0,0,.08), 0px 5px 12px 0 rgba(0,0,0,.1);
    transition: padding .8s;
}

option:checked, option:hover {
    background: #0067c5;
    padding-top: 2%;
    padding-bottom: 2%;
}

input[type=submit] {
    margin-top: -18%;
    margin-left: 12%;
    font-size: 1.8em;
    position: absolute;
}

form{
    margin: auto;
}
